* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Minecraft", sans-serif;
}

span {
  font-size: 32px;
}

.container {
  width: 90%;
  height: 500px;
  border: 1px solid #333;
  margin: 0 auto;
  position: relative;
  background-image: url("/assets/bg.jpg");
}

.lifebar img {
  height: 40px;
  width: 40px;
}

.zombie {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: enemy-movement 1s infinite linear;
}

.actor {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.phantom {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 300px;
  right: 0px;
  animation: enemy-movement 2s infinite linear;
}

.dragon {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 200px;
  right: 0px;
  animation: enemy-movement 1s infinite linear;
}

.jump {
  animation: jump 800ms infinite ease-out;
}

@keyframes jump {
  0% {
    bottom: 0px;
  }

  /* 40% {
    bottom: 300px;
  } */

  50% {
    bottom: 300px;
  }

  /* 60% {
    bottom: 300px;
  } */

  100% {
    bottom: 0px;
  }
}

@keyframes enemy-movement {
  from {
    right: 0;
  }

  to {
    right: 90%;
  }
}
